/* CSS variable */
:root {
  --header-height: 3.5rem;

  /* colors */
  --first-color: #007399;
  --gradient-color: linear-gradient(90deg, #17334f #175666);
  --title-color: #17334f;
  --text-color: #1d262f;
  --white-color: #fff;
  --body-color: #bcd5eb;

  /* Fonts and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Merriweather", serif;
  --third-font: "Oswald", sans-serif;
  --biggest-font-size: 2.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* responsive styling*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 32px;
}

.nav-close,
.nav-toggle {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile */
@media screen and (max-width: 978px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 2px 12px #1c3d5e1a;
    padding: 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.7rem;
    transition: top 0.4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav-link {
  color: var(--title-color);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .6rem;
}

.nav-button-link,
.nav-button-ghost{
    
}